services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: trans_db
    ports:
      - "5432:5432"
    restart: unless-stopped
      
  backend:
    build: ./backend
    container_name: fastify_app
    environment:
      - DATABASE_URL=postgresql://user:password@postgres_db:5432/trans_db?schema=public
      - NODE_ENV=production
    depends_on:
      - db
    ports:
      - "8281:8281"
    restart: unless-stopped
      
  nginx:
    build:
      context: . 
      dockerfile: nginx/Dockerfile
    container_name: nginx_proxy
    ports:
      - "8443:8443"
      - "8080:8080"
    depends_on:
      - backend
    restart: unless-stopped